.splash {
    /* margin: 0 10%; */
    /* background-color: #ded8f6; */
  margin-bottom: 30px;
}

.titleAndP {
    /* border: 1px red solid; */
    margin: 40px 0;
    text-align: center;
    /* margin-bottom: 10px; */
    background-color: #ded8f6;
    border-radius: 7px;
    min-width: 730px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 50%), -3px -3px 10px rgb(0 0 0 / 50%);

}

.splashPosts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 75%; */
    gap: 15px;
    margin: 0 5%;
    background-color: #ffccff;
    border-radius: 7px;
    padding: 20px;
    min-width: fit-content;
    max-width: 850px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 50%), -3px -3px 10px rgb(0 0 0 / 50%);

}

.eachPost {
    width: 100%
}

.eachPost img {
    width: 205px;
    height: 210px;
    border-radius: 7px;
    object-fit: cover;
}
