.splash {
    margin: 0 10%;
    /* background-color: #ded8f6; */
}

.titleAndP {
    /* border: 1px red solid; */
    margin: 40px 0;
    text-align: center;
    /* margin-bottom: 10px; */
    background-color: #ded8f6;
    border-radius: 7px;

}

.splashPosts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 75%; */
    gap: 15px;
    margin: 0 5%;
    background-color: #ffccff;
    border-radius: 7px;
    padding: 5px;
    min-width: 575px;
    max-width: 850px;

}

.eachPost {
    width: 100%
}

.eachPost img {
    width: 205px;
    height: 200px;
    border-radius: 7px;
    object-fit: cover;
}
