.splash {
  /* margin: 0 10%; */
  /* background-color: #ded8f6; */
  margin-bottom: 30px;
  width: 67%;
  min-width: 750px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleAndP {
  /* border: 1px red solid; */
  margin: 40px 0;
  text-align: center;
  /* margin-bottom: 10px; */
  background-color: #ded8f6;
  border-radius: 7px;
  /* min-width: 730px; */
  width: 100%;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 50%), -3px -3px 10px rgb(0 0 0 / 50%);
}

.splashPosts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  grid-gap: 15px;
  /* margin: 0 5%; */
  background-color: #ffccff;
  border-radius: 7px;
  padding: 20px;
  min-width: fit-content;
  /* max-width: 850px; */
  box-shadow: 3px 3px 10px rgb(0 0 0 / 50%), -3px -3px 10px rgb(0 0 0 / 50%);
}

.eachPost {
  /* width: 100%; */
  width: 230px;
  margin: 5px 3px;
}

.eachPost img {
  width: 230px;
  height: 220px;
  border-radius: 7px;
  object-fit: cover;
}
