.loginformdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 40%;
  min-width: 400px;
}

.loginTitle {
    text-align: center;
    padding-bottom: 17px;
    border-bottom: rgba(0, 0, 0, 0.254) solid 1px;
}


.loginformdiv form {
  background-color: #ded8f6;
  padding: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), -3px -3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
}

.login-grid {
    display: grid;
    grid-template-columns: .45fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding-bottom: 10px;
}

.login-grid label {
    text-align: end;
    font-size: 20px;
}

.login-grid input {
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'Berkshire Swash', cursive;

}

.loginBtns {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.bottomDivLogSign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alreadyBecome {
  /* text-align: center; */
  font-size: 15px;
  color: #673398;
  margin: 15px;

}

.login-signup-btns {
  background-color: #fff139;
  font-size: 18px;
}

.demoBtn {
  background-color: #cc4dcc;
  font-size: 18px;
}

.req {
  font-size: 12px;
}
