.oneWbBig {
  display: flex;
  margin: 0 10%;
  width: 85%;
  min-width: 600px;
  max-width: 830px;
  justify-content: space-around;
}

.wbPic {
  width: 425px;
  height: 375px;
  border-radius: 7px;
  margin-top: 5%;
  object-fit: cover;
}

.wb-details {
  width: 60%;
  min-width: 375px;
  height: 500px;
  /* width: 100%; */
  /* border: 1px red solid; */
  margin-left: 20px;
  background-color: #ffccff;
  border-radius: 7px;
  padding: 0 10px;
  overflow-y: scroll;
}

.wb-details h1 {
  /* margin-left: 10px; */
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  border-bottom: solid #0d020266 1px;
  padding-bottom: 7px;
}

.wb-details > div {
  padding: 3px 10px;

}

.priceInStock {
  display: flex;
  justify-content: space-between;
  /* padding: 5px 10px; */
}

.priceToEnd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 375px;
}

.wbPostDate {
    text-align: center;
    padding: 10px 5px;
    font-size: 17px;
}

.editDelDiv {
    display: flex;
    justify-content: space-around;
    margin: 7px 0;
}

.categories {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: solid red 1px; */
  padding: 5px 0;
}

.categoriesT {
  margin-bottom: 5px;
}


.allCategories {
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

.eachCategory {
  /* border: solid green 1px; */
  border-radius: 3px;
  width: fit-content;
  background-color: #690e37;
  color:rgb(208, 205, 205);
  padding: 3px;
  margin: 3px 0;
  font-size: 15px;
}

.beader {
  margin-top: 10px;
}

.wbDesc {
  margin-top: 5px;
  border-top: 1px solid black;
  padding-top: 7px;
  overflow-y: scroll;
  /* word-break: break-all; */
  /* overflow-wrap: break-word; */
  white-space: normal;
}
