.oneWbBig {
display: flex;
margin: 0 10%;
/* width: 100%; */
min-width: 600px;
justify-content: space-around;
}

.oneWbBig img {
    width: 325px;
    height: 325px;
}

.wb-details {
    width: 400px;
    height: 400px;
    /* width: 100%; */
    border: 1px red solid;
    margin-left: 20px;
}
