.profPosts {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 75%; */
    gap: 15px;
    margin: 0 5%;
    /* background-color: #ffccff; */
    border-radius: 7px;
    padding: 20px;
    min-width: fit-content;
    max-width: 850px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 50%), -3px -3px 10px rgb(0 0 0 / 50%);
    background-color: #ded8f6;
}

.userInfo {
    font-size: 20px;
    color: #ded8f6;
}
