.allNav {
    display: flex;
    justify-content: space-between;
    /* margin: 0 10px; */
    margin-left: 37px;
}

nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    /* height: 56px; */
    /* background-color: #5583c6; */
    background-color: #0d0202;
    /* padding: 10px 0px; */
    font-size: 23px;
    z-index: 10;

}

.left-nav {
    /* width: 244px; */
    display: flex;
    /* justify-content: space-between; */

}

.logoNavLink {
    margin-left: 5px;
}
.logo-btn {
    /* background-color: aliceblue; */
    height: 70px;
    padding-right: 15px;
    /* position: fixed;
    top: 2.5px;
    left: 35px; */
}

.right-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    /* height: 53px; */
    /* gap: 20px; */
}


.newWbbtn {
    font-size: 30px;
    height: fit-content;
    padding: 5px;
    margin-top: 5px;
    background-color: #ffcf00;

}

.profbtn {
    /* background-color: #5583c6; */
    padding: 10px;
    /* border-radius: 5px; */
    width: 150px;

}

.profbtn-usname {
    text-align: center;
    color:#ebebeb;
    cursor: pointer;

}

.prof-drpdwn {
    display: flex;
    flex-direction: column;
    text-align: end;
    /* background-color: #5583c6; */
    background-color: #0d0202;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    width: 150px;
}
.navLinks {
    margin-top: 12px;
}

.navLinks a {
    color:#ebebeb;

}

.profileLink {
    margin-bottom: 10px;
    font-size: 17px;
    text-align: center;
    color: #5583c6;
}

.logoutBtn {
    font-size: 17px;
}

.aboutLink {
    cursor: pointer;
    color: #ebebeb;
    /* color: #5583c6; */
}

.aboutCat {
    width: 182px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative;
    margin-left: 125px; */
    margin-left: 20px;
}
